---
import {Image} from 'astro:assets';
import {Icon} from 'astro-icon/components';
import {useTranslations} from '../i18n/utils';
import {languages} from '../i18n/config';

export interface Props {
    lang: keyof typeof languages;
}
const {lang} = Astro.props;
const t = useTranslations(lang);

// Retrieve individual translated strings
const faasTitle = t('faas.title');
const faasDescription = t('faas.description');
const faasImage = t('faas.image'); // Get the image path if it's within 'faas' object
const faasItems = t('faas.items'); // This will return the array of items

const allImages = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.{png,jpg,jpeg,webp}');
const faasImageModule = allImages[faasImage]; // Use the retrieved image path
---
<div class="overflow-hidden py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="lg:ml-auto lg:pt-4 lg:pl-4">
                <div class="lg:max-w-lg">
                    <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">{faasTitle}</p>
                    <p class="mt-6 text-lg/8 text-gray-600">{faasDescription}</p>
                    <dl class="mt-10 max-w-xl space-y-8 text-base/7 text-gray-600 lg:max-w-none">
                        {faasItems.map((item) => (
                                <div class="relative pl-9">
                                    <dt class="inline font-semibold text-gray-900">
                                        <Icon name={item.icon} class="absolute top-1 left-1 h-5 w-5 text-brand-600"/>
                                        {item.title}
                                    </dt>
                                    <dd class="inline ml-2">{item.description}</dd>
                                </div>
                        ))}
                    </dl>
                </div>
            </div>
            <div class="flex items-start justify-end lg:order-first">
                {faasImageModule && (
                        <Image
                                src={faasImageModule()}
                                alt={faasTitle} {/* Use the translated title for the alt text */}
                                class="w-full max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]"
                                width="700"
                                height="500"
                                loading="lazy"
                        />
                )}
            </div>
        </div>
    </div>
</div>